@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Serif+SC:wght@400;700&display=swap');


*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{


height:100vh;


background:

linear-gradient(
rgba(0,0,0,0.35),
rgba(0,0,0,0.35)
),

url("/static/background.jpg");



background-size:cover;


background-position:center;


font-family:
"Noto Serif SC",
serif;



display:flex;


justify-content:center;


align-items:center;



color:white;


}





.home-container{


text-align:center;


width:600px;


}





.main-title{


font-family:
"Ma Shan Zheng",
cursive;



font-size:80px;


letter-spacing:15px;


margin-bottom:30px;


}





.subtitle{


font-size:22px;


letter-spacing:5px;


margin-bottom:70px;


}




.person-card{


background:

rgba(255,255,255,0.15);



backdrop-filter:blur(10px);



border-radius:20px;



padding:40px;



border:

1px solid rgba(255,255,255,0.3);



}




.person-card h2{


font-size:45px;


font-family:
"Ma Shan Zheng",
cursive;


margin-bottom:20px;


}



.person-card p{


font-size:18px;


margin:15px;


}



.enter-btn{


margin-top:30px;


padding:15px 50px;



border:none;


border-radius:30px;



background:

rgba(255,255,255,0.85);



font-size:20px;



cursor:pointer;



transition:0.3s;



}




.enter-btn:hover{


transform:scale(1.05);


background:white;


}





@media(max-width:600px){


.home-container{


width:90%;


}



.main-title{


font-size:55px;


}



.subtitle{


font-size:16px;


}



}

.chat-page{


height:100vh;


background:

linear-gradient(
rgba(0,0,0,0.35),
rgba(0,0,0,0.35)
),

url("/static/background.jpg");


background-size:cover;


padding-top:40px;


}




.chat-title{


text-align:center;


color:white;


}




.letter{


width:70%;


margin:40px auto;


padding:40px;



background:

rgba(255,248,220,0.85);



border-radius:20px;


font-size:20px;


line-height:2;



}



.user-message{


text-align:right;


margin-bottom:40px;


}



.libai-message{


text-align:left;


}



.input-area{


display:flex;


justify-content:center;


}



.input-area input{


width:500px;


padding:15px;


border-radius:20px;


border:none;


}



.input-area button{


width:100px;


margin-left:20px;


border-radius:20px;


}